@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://fonts.googleapis.com/css?family=Blinker");

#game {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    height: 100vh;
    background: black url("gameBackground.svg") no-repeat fixed center;
}

#main {
    margin: 0;
    background: black url("background.svg") no-repeat fixed center;
    background-size: cover;
}

.center-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2.3vh;
    position: relative;
    top: 23%; /* Adjust vertical position */
}

#custom-text-area {
    width: 39.06vw;
    height: 5.79vh;
    padding: 1.16vh;
    font-size: 4vh;
    border: 0.06vw solid #ccc;
    border-radius: 0.33vw;
    resize: none;
}

#requirements {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    gap: 1.16vh;
    position: relative;
    top: 23%; /* Adjust vertical position */
}

.requirement {
    width: 32.55vw; /* Adjust as needed */
    height: 12.73vh; /* Adjust as needed */
    margin: 1.16vh auto;
    padding: 1.16vh;
    background-size: cover; /* Ensure the entire image fits */
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center; /* Horizontally center the text */
    text-align: center;
    font-size: 1.04vh;
    border: 0.2vh solid black;
    background-color: black; /* Default gray background */
    background-image: url("gray_box.svg"); /* Default gray box image */
    color: black; /* Default text color */
}

.requirement-text {
    display: inline-block;
    margin-top: 2vh; /* Adjust as needed to push the text down */
    text-align: center;
    font-size: 3.47vh;
    font-weight: bold;
    color: black; /* Default text color */
}

.requirement.valid {
    color: #155724;
    background-color: #d4edda;
    border: 0.065vw solid #c3e6cb;
}

.banner {
    width: 100%;            /* Full width of the page */
    height: 8.1vh;          /* Adjust height as needed */
    background-color: black; /* Black background color */
    position: fixed;        /* Keeps the banner fixed at the top */
    top: 0;                 /* Aligns it to the top of the page */
    z-index: 1000;          /* Ensures it stays above other elements */
}

.title-text {
    margin-top: 16.2vh;
    margin-left: 7.16vw;
    font-size: 9.77vh;        /* Adjust font size as needed */
    color: white;           /* Ensure the text is visible against the background */
    text-align: left;
    font-family: Anton;
    text-shadow: 0.71vw 0.65vh 0px #26454b;
}

#hacker-image {
    position: absolute;
    left: 0.65vw;
    top: 0.58vh;
}

#medal-image {
    position: absolute;
    left: 6.51vw;
    top: 0.58vh;
}

#gold-image {
    position: absolute;
    left: 22.79vw;
    top: 0.58vh;
}

#bmo-image {
    position: absolute;
    right: 0.65vw;
    top: 0.58vh;
}

.header-text {
    font-size: 2.3vh;
    color: yellow;
    font: Blinker bold;
}

.value-text {
    font-size: 2.08vh;
    color: white;
    font: Blinker bold;
}

#achievements-block {
    position: absolute;
    top: -0.81vh;
    left: 10.41vw;
}

#achievements-value {
    position: absolute;
    top: 3.47vh;
}

#gold-block {
    position: absolute;
    top: -0.81vh;
    left: 26.69vw;
}

#gold-value {
    position: absolute;
    top: 3.47vh;
}

.container {
    border-radius: 0.33vw;
}
.postion-container{
    position: absolute;
    top: 69.44vh;
    left: 7.16vw;
}
.text {
  font-size: 3.47vh;
  color: white; /* Initial state: white text */
  background-color: black; /* Initial state: black background */
  display: inline-block;
  padding: 0.58vh 0.65vw;
  position: relative;
  overflow: hidden; /* Hide the sliding background */
  border-radius: 0.65vw; /* Round corners of the text box */
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
  z-index: 1; /* Make sure the text stays above the background */
}

.text::after {
  content: ''; /* Empty content to create the sliding effect */
  position: absolute;
  top: 0;
  left: -100%; /* Initially off-screen to the left */
  width: 100%;
  height: 100%;
  background-color: white; /* White background */
  transition: left 0.5s ease-in-out; /* Slide from left to right */
  z-index: -1; /* Place the sliding background behind the text */
}

.text:hover::after {
  left: 0; /* Slide the white background to cover the text */
}

.text:hover {
  color: black; /* Change to black text on hover */
  background-color: transparent; /* Keep the text background transparent on hover */
}
#arrow {
    position: absolute;
    top: -0.5vh;
    left: -2.28vw;
    font-size: 5vh;
    visibility: hidden;
    color: white;
    font: bold;
}
.hover-container:hover + #arrow {
    visibility: visible;   
}
.paywall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above all other elements */
}

.paywall.hidden {
    display: none; /* Initially hidden */
}

.paywall-content {
    background-color: white;
    padding: 2.3vh;
    border-radius: 0.65vw;
    text-align: center;
    box-shadow: 0px 0.27vw 0.65vw rgba(0, 0, 0, 0.5);
}

#mascot {
    position: absolute;
    top: 70.35%;
    left: 2.4vw;
}

#task_complete {
    position: absolute;
    top: 18vh;
    left: 33vw;
}

#next_button {
    width: 6.51vw;
    height: 6.94vh;
    position: absolute;
    top: 46.3vh;
    left: 46.88vw;
    font-size: 5vh;
    background-color: #febe29;
    box-shadow: 0px 0.32vh black;
    text-align: center;
    color: black;
    border-radius: 0.33vw;
}

#mfa {
    background: black url("mfa.PNG") no-repeat fixed center;
    background-size: cover;
}

#info_mfa {
    position: absolute;
    left: 3.26vw;
    width: 45.57vw;
    height: 64.81vh;
}

#phone_mfa {
    position: absolute;
    top: 55vh;
    left: 0;
    width: 14.76vw;
    height: 35.09vh;
}

#yes {
    position: absolute;
    top: 55vh;
    left: 9.76vw;
    user-select: none;
    cursor: pointer;
    background-color: #62c559;
    font-size: 5vh;
    width: 13.02vw;
    height: 6.94vh;
    text-align: center;
}

#no {
    position: absolute;
    top: 55vh;
    left: 29.3vw;
    user-select: none;
    cursor: pointer;
    border: 0.33vw solid red;
    font-size: 5vh;
    width: 13.02vw;
    height: 6.94vh;
    text-align: center;
    background-color: white;
}

#mfa_inquire {
    display: none;
}

#mail {
    position: absolute;
    top: 24vh;
    right: 37vw;
    width: 10vw;
    height: 10vh;
}

#email {
    position: absolute;
    top: 35vh;
    right: 9.2vw;
    background-color: gray;
    border: 0.33vw solid black;
    color: white;
    font-size: 3vh;
    padding: 1.16vh;
    width: 34vw;
    height: 4vh;
    border-radius: 0.65vw;
    resize: none;
}

#submitMail{
    position: absolute;
    top: 45.14vh;
    left: 61.85vw;
    font-size: 2.6vh;
}

#submitButton{
    position: absolute;
    top: 2.5vw;
    width: 18.81vw;
    height: 7.38vh;
}

#submitText{
    position: absolute;
    font-size: 2vw;
    font-weight: bold;
    top: 2vh;
    left: 6.51vw;
    user-select: none;
}

#confirmMessage {
    position: absolute;
    top: 42vh;
    right: 17vw;
    color: white;
    font-size: 3vh;
    -webkit-text-stroke-width: 0.13vh;
    -webkit-text-stroke-color: black;
    display: none;
}

#code-container {
    position: absolute;
    left: 58vw;
    top: 60vh;
    display: none;
}
.code-input {
    width: 2vw;
    height: 6vh;
    text-align: center;
    font-size: 3vw;
    margin: 0 5px;
}
#code1 {
    position: relative;
    left: 3.5vw;
}
#code2 {
    position: relative;
    left: 5.5vw;
}
#code3 {
    position: relative;
    left: 7.5vw;
}
#code4 {
    position: relative;
    left: 9.5vw;
}
#submitCode{
    position: absolute;
    top: 100px;
    left: 50px;
    font-size: 40px;
}
#codeButton{
    width: 288.75px;
    height: 63.75px;
}
#codeText{
    position: absolute;
    top: -35px;
    left: 100px;
    user-select: none;
}
#wrong_code{
    position: absolute;
    font-size: 50px;
    color: red;
    left: 900px;
    top: 605px;
    display: none;
}